
.display-4 {

    text-align: center;
}

#timer {

    margin-left:800px;
}

.list-group {
    padding-top:20px;
}

#start {
    margin-left: 465px;
}

li {

    margin-top:20px;
    background-color: aqua;
    width: 200px;
    margin:auto;
}