
.display-4 {

    text-align: center;
}

#timer {

    margin-left:800px;
}

.list-group {
    padding-top:20px;
}

#start {
    margin-left: 465px;
}

li {

    margin-top:20px;
    background-color: aqua;
    width: 200px;
    margin:auto;
}

/*#jumbotronstart {

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzmgrhQKHuSJdFwRkoLPliZwDtkMWEUooi1NRGqFYtyr5R48dK&s");
    background-repeat: no-repeat;
}
*/