
.display-4 {

    text-align: center;
}

#timer {

    margin-left:800px;
}

.list-group {
    padding-top:20px;
}

#start {
    margin-left: 465px;
}

li {

    margin-top:20px;
    background-color: aqua;
    width: 200px;
    margin:auto;
}

@media screen and (max-width: 480px) {

    #start {
    
        margin-left: 80px;
        margin-top: 20px;
        
    } 

    #highscores {

        margin-top:20px;
    }

    #jumbotronid {

        width:375px;
        height: 812px;
    }
    #jumbotronstart {

        width:350px;
        height: 812px;

        color: white;
    }
    #jumbotronstart {

        background-image: url("https://i.pinimg.com/originals/53/a2/a3/53a2a3a4f90804ad4e50d2d4ae78f027.jpg");
        background-repeat: no-repeat;
    }
    
    

    #timer {

        margin-left: 300px;
    }
    }

